.resume{
/*     width: 100%; */
padding-top: 50px;
padding-bottom: 65px;
background-color: #F6F6F8;
}

.resume__title{
    width: 350px;
    color: #000;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 25px;
font-weight: 700;
line-height: 1.46;
margin: 0 auto;
}

.resume__text{
flex-shrink: 0;
color: var(--grey, #999);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.58; 
}

.projects-set{
    list-style: none;
    width: 100%;
}

.button{
    color: #FFF;
text-align: center;
font-weight: 500;
    border-radius: 30px;
background-color: #4985FF;
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
width: 200px;
height: 45px;
border: none;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
display: block;
}

.projects-set__item + .projects-set__item{
margin-top: 10px;
}
