.services {
    padding-top: 110px;
    padding-bottom: 110px;
    max-width: 1600px;
    margin: 0 auto;
}
.services__title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            line-height: 146%;
            text-align: center;
            color: black;
            max-width: 740px;
            margin: auto;
        }
.services__text {
    font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.58;
        text-align: center;
        color: #999;
        max-width: 730px;
        margin: auto;
        padding-top: 32px;
        margin-bottom: 70px;
}
.services-list {
    display: flex;
    column-gap: 30px;
}
.services-list__title {
font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #000;
        padding-left: 27px;
        padding-bottom: 12px;
}
.services-list__description {
    font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 1.58;
        color: #999;
            max-width: 222px;
                padding-left: 27px;
}
.services-list__item {
    display: flex;
}
.svg__wrapp {
    border-radius: 100%;
    border: 1px solid grey;
        stroke-width: 1px;
        // stroke: #4985ff;
        padding: 10px;
}
.services__button {
    border-radius: 30px;
        width: 200px;
        height: 45px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #fff;
        border: none;
        box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
        background: #4985ff;
        margin: auto;
        display: block;
        margin-top: 55px;
}
 
